*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header{
    width: 100%;
}

header nav {
    background: linear-gradient(to right, #EEE2DE, #FFB399);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem 0.5rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem 3rem;
}

nav ul li{
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 38px;
    
}

.nav-button{
    width: 12.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.nav-button button{
    display: flex;
    background-color: #BF3131;
    width: 12.5rem;
    height: 3rem;
    border-radius: 10px;
    font-size: large;
    gap: 13px;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
}

main{
    margin-top: calc(1.5rem + 3rem + 1.5rem);
}

.main-section article figure{
    border-radius: 10px;
    object-fit: cover;
    background-color: olive;
    height: 18rem;
}

.main-section article figure img{
    height: 18rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(191, 49, 49, 0.5);
}

.main-section article {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* padding-block: 4rem; */
    padding: 4rem 0rem 3rem 0rem;
}

.main-section{
    display: flex;
}

.header-main-section {
    width: 40rem;
}

.header-main-section p{
    text-align: justify;
}

.main-title{
    font-size: 45px;
}

.header-main-section h5{
    margin-bottom: 1.25rem;
    font-weight: 500;
    color: #7C7777;
}

.header-main-section button{
    margin-top: 1rem;
    display: flex;
    background: linear-gradient(to right,#B31312, #BF3131);
    width: 11.7rem;
    height: 3rem;
    border-radius: 10px;
    font-size: large;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 13px;
    font-weight: bold;
}

.bg-main-section{
    background: linear-gradient(to right, #EEE2DE, #FFB399);
    width: 100%;
    height: calc();
    position: absolute;
    z-index: -1;
    height: 18.25rem;
    top: 0;
    margin-top: calc(1.5rem + 3rem + 1.5rem);
}

.movie-preview{
    display: flex;
    flex-direction: column;
    padding-inline: 4.8rem;
}

.movie-preview .pictures-panel{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 2rem;
}

.pictures-panel::-webkit-scrollbar{
    width: 0;
    height: 12px;
}

.pictures-panel::-webkit-scrollbar-thumb{
    background-color: #A6A2A2;
    border-radius: 10px;
}

.pictures-panel::-webkit-scrollbar-track{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.movie-preview .screenshot {
    height: 12.8rem;
    border-radius: 15px;
}

.screenshot:hover{
    opacity: 80%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.body-content {
    background-color: blueviolet;
    display: flex;
    padding-inline: 4.8rem;
    gap: 4rem;
}

.content{
    background-color: greenyellow;
    width: 70%;
}

.content article h2{
    font-size: xx-large;
}

.card-container{
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-evenly;
    padding-block: 2rem;
}

.card{
    width: 30%;
    background-color: aqua;
    height: 10rem;
    justify-content: center;
}

aside{
    background-color: hotpink;
    width: 30%;
}

footer{
    background: linear-gradient(to right, #EEE2DE, #FFB399);
    padding: 3rem 5rem;
}

.footer-container{
    /* background-color: #BF3131; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 3rem;
    justify-content: space-around;
    
}

.foot-logo{
    display: flex;
    /* background-color: aqua; */
}

.foot-logo img{
    height: 160px;
}

.foot-information{
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    height: 170px;
    justify-content: space-between;
    width: 450px;
}

.foot-information p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.social-logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.social-logo a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
}