*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header{
    width: 100%;
}

header nav {
    background: linear-gradient(to right, #EEE2DE, #FFB399);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem 0.5rem;
}

.nav-side-button{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1rem 3rem;
   
}

nav ul li{
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}

nav ul li:hover a{
    text-decoration: underline;
    color: #B31312;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 38px;
    
}

.nav-button{
    width: 12.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.nav-button button{
    display: flex;
    background-color: #BF3131;
    width: 12.5rem;
    height: 3rem;
    border-radius: 10px;
    font-size: large;
    gap: 13px;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.nav-button button:hover{
    color: #BF3131;
    background-color: white;
    border: 2px solid rgba(179, 19, 18, 0.6);
}

main{
    margin-top: calc(1.5rem + 3rem + 1.5rem);
}

.main-section article figure{
    border-radius: 10px;
    background-color: olive;
    height: 18rem;
}

.main-section article figure img{
    height: 18rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(191, 49, 49, 0.5);
}

.main-section article figure:hover{
    opacity: 90%;
}

.main-section article figure img:hover{
    box-shadow: 0px 0px 30px rgba(191, 49, 49, 0.7)
}

.main-section article {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* padding-block: 4rem; */
    padding: 4rem 0rem 3rem 0rem;
}

.main-section{
    display: flex;
}

.header-main-section {
    width: 40rem;
}

.header-main-section p{
    text-align: justify;
}

.main-title{
    font-size: 45px;
}

.header-main-section h5{
    margin-bottom: 1.25rem;
    font-weight: 500;
    color: #7C7777;
}

.header-main-section h4{
    display: none;
}

.header-main-section button{
    margin-top: 1rem;
    display: flex;
    background: linear-gradient(to right,#B31312, #BF3131);
    width: 11.7rem;
    height: 3rem;
    border-radius: 10px;
    font-size: large;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 13px;
    font-weight: bold;
    cursor: pointer;
}

.header-main-section button:hover{
    color: #BF3131;
    background: white;
    border: 2px solid rgba(179, 19, 18, 0.6);
}

.bg-main-section{
    background: linear-gradient(to right, #EEE2DE, #FFB399);
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 18.25rem;
    top: 0;
    margin-top: calc(1.5rem + 3rem + 1.5rem);
}

.movie-preview{
    display: flex;
    flex-direction: column;
    padding-inline: 4.8rem;
}

.movie-preview h4{
    display: none;
}

.movie-preview .pictures-panel{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 2rem;
}

.pictures-panel::-webkit-scrollbar{
    width: 0;
    height: 12px;
}

.pictures-panel::-webkit-scrollbar-thumb{
    background-color: #A6A2A2;
    border-radius: 10px;
}

.pictures-panel::-webkit-scrollbar-track{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.movie-preview .screenshot {
    height: 12.8rem;
    border-radius: 15px;
}

.screenshot:hover{
    opacity: 70%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.body-content {
    display: flex;
    padding-inline: 4.8rem;
    gap: 4rem;
}

.content{
    width: 70%;
}

.content article h2{
    font-size: xx-large;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 1rem;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 31.5%;
    background-color: #ECECEC;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.2);
}

.card-title{
    background: linear-gradient(to right, #DE4022, #BB2E21);
    position: relative;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: 2rem;
    padding: 2rem;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
    flex-direction: column;
}

.card-title h3{
    text-align: center;
    font-size: x-large;
    z-index: 1;
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 0.5rem;
}

.card-title h4{
    margin-inline: 0.7rem;
    padding-block: 0.2rem;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.card-title img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 10%;
}

.card-content{
    /* background-color: chartreuse; */
    padding-inline: 1rem;
}

.card-container thead{
    /* background-color: #7C7777; */
    display: flex;
    justify-content: start;
    border-bottom: 1px solid black;
}

.card-content tbody tr{
    /* background-color: honeydew; */
    display: flex;
    align-items: center;
    padding-block: 0.3rem;
    margin-block: 0.2rem;
    font-weight: 600;
}

.card-content tbody td:first-child {
    display: flex;
    /* background-color: #B31312; */
    padding-right: 0.5rem;
    font-size: larger;
    text-align: left;
}

.fa-circle-check{
    color: green;
}

.fa-circle-xmark{
    color: #B31312;
}

.card-content tbody td{
    /* background-color: #D9D9D9; */
    margin-inline: 0.2rem;
}

.card-container button{
    background: linear-gradient(to right, #B31312, #BF3131);
    width: 70%;
    min-height: 2rem;
    border-style: none;
    text-align: center;
    border-radius: 10rem;
    padding-block: 0.5rem;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-block: 2rem;
    cursor: pointer;
}

.card-container button:hover{
    background: white;
    color: #B31312;
    box-shadow: 0px 0px 20px rgba(179, 19, 18, 0.5);
}

.review-card-container{
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.review-card{
    display: flex;
    flex-direction: column;
    /* background-color: #ECECEC; */
    background: linear-gradient(to right, #f5dfd8, #ECECEC);
    border-radius: 10px;
    padding: 1.5rem;
    gap: 0.3rem;
}

.review-card-top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.review-card-top .rating-container, .review-card-top .username-container{
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.rating-container{
    color: white;
    gap: 0.3rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem 1rem;
}

.rating-container i{
    color: yellow;
}

.username-container{
    font-weight: bold;
    font-size: large;
    gap: 0.5rem;
}

.username-container img{
    width: 2rem;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.review-card-content{
    padding-top: 0.5rem;
    display: flex;
}

.review-card-content p{
    text-align: justify;
}

.about-content-container{
    /* background-color: hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-block:1.5rem;
    gap: 2rem;
}

.about-content-container figure{
    display: flex;
    /* background-color: gold; */
    width: 50%;
    height: 26.5rem;
    justify-content: center;
}

.about-content-container figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-content-container figure img:hover{
    opacity: 90%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
}

.author-info{
    display: flex;
    flex-direction: column;
    /* background-color: saddlebrown; */
    width: 70%;
}

.author-info table th{
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, #B31312, #BF3131);
    border-radius: 5px;
    color: white;
}

.author-info table tr{
    text-align: left;
}

.information-general, .achievement{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    /* background-color: deepskyblue; */
}

.information-general tr, .achievement tr{
    padding-block: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.information-general td:first-child{
    /* background-color: teal; */
    width: 8rem;
    padding: 0;
}

.information-general td{
    /* background-color: salmon; */
    padding-inline: 0.8rem;
}

.achievement i{
    color: #FFB21A;
    margin-right: 0.5rem;
}

aside{
    width: 30%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside header{
    background: linear-gradient(to right, #B31312, #BF3131);
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    width: calc(100% - 1.5rem);
}

.sidebar-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-card{
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    gap: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sidebar-card figure{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.sidebar-card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.duration{
    position: absolute;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    z-index: 999;
}

.duration i{
    margin-right: 2px;
}

.sidebar-card-content-container{
    /* background-color: teal; */
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.sidebar-card-title-container{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.sidebar-card-title-container h4{
    width: 60%;
    font-size: larger;
}

.sidebar-card:hover h4{
    color: #B31312;
    text-decoration: underline;
}

.sidebar-card-title-container p{
    padding-top: 3px;
    width: 40%;
    font-size: small;
    opacity: 70%;
    text-align: right;
}

.description{
    /* background-color: darkorange; */
    font-size: small;
}

.description p{
    text-align: justify;
}

footer{
    background: linear-gradient(to right, #EEE2DE, #FFB399);
    padding: 3rem 5rem;
}

.footer-container{
    /* background-color: #BF3131; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 3rem;
    justify-content: space-around;
    
}

.foot-logo{
    display: flex;
    /* background-color: aqua; */
}

.foot-logo img{
    height: 160px;
}

.foot-information{
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    height: 170px;
    justify-content: space-between;
    width: 450px;
}

.foot-information p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.social-logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.social-logo a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.social-logo a:hover{
    color: #B31312;
}

#Pembelian, #Ulasan, #Tentang {
    scroll-margin-top: calc(1.5rem + 3rem + 2rem); /* Sesuaikan nilai dengan tinggi navbar Anda */
}

#lainnya{
    margin: 0;
    padding-block: 0.5rem;
    justify-content: center;
}

#footer-line{
    display: none;
}

/* Pop Up */
.popup-img{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.popup-img span{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.popup-img img{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

/* Media Queries */

@media only screen and (max-width: 961px){
    nav ul{
        gap: 0.3rem 1rem;
    }

    .main-section article{
        gap: 3rem;
        padding: 2.5rem 0rem 3rem 0rem;
    }

    .header-main-section{
        width: 30rem;
    }

    .main-section{
        align-items: center;
        justify-content: center;
    }

    .bg-main-section{
        margin-top: calc(1.5rem + 3rem + 1.5rem);
        height: 22rem;;
    }

    .body-content{
        flex-direction: column;
        gap: 1rem;
    }

    .content, aside{
        width: 100%;
    }

    aside{
        align-items: start;
    }

    .sidebar-content{
        flex-direction: row;
        overflow-x: auto;
        padding-inline: 0rem;
        width: 100%;
    }

    .sidebar-card{
        min-width: 270px;
    }

    .sidebar-card figure{
        position: relative;
    }

    #lainnya-card{
        max-height: 50px;
        width: 100%;
    }

    #lainnya-card .sidebar-card-title-container h4{
        width: 100%;
        text-align: center;
    }

    .footer-container{
        justify-content: space-between;
        padding-inline: 0;
    }

    .foot-information{
        max-width: 350px;
    }
}

@media only screen and (max-width:  768px){
    /* Pop Up */
    .popup-img img{
        height: auto;
        width: 80%;
    }

    header nav{
        justify-content: space-between;
        padding-inline: 3.5rem;
    }

    .nav-list, .nav-button{
        display: none;
    }

    .nav-list.aktif{
        display:inline-block;
		position: absolute;
		top: 5.5rem;
		background: #FFEAE3;
		padding: 10px 20px;
		right: 0;
		left: 0;
        padding: 0;
    }

    .nav-list.aktif li{
        padding: 1rem;
    }

    .nav-list.aktif li:hover{
        background-color: #FABDA8;
    }

    .nav-list.aktif li:hover a{
        color: #B31312;
        font-weight: bold;
    }

    .nav-side-button{
        display: flex;
        gap: 0.5rem;
        order: 1;
    }

    .hamburger, .buy-icon{
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 14pt;
        align-self: center;
        padding: 0.5rem 0.7rem;
        border-radius: 8px;
        font-weight: 900;
        color: #B31312;
        box-shadow: 0px 0px 10px rgba(179, 19, 18, 0.2);
        cursor: pointer;
    }

    .main-section{
        padding-inline: 5rem;
    }

    .main-section article{
        padding: 6rem 0rem 3rem 0rem;
        align-items: start;
    }

    .header-main-section h1, h5{
        position: absolute;
        left: 5rem;
        top: 6rem;
    }

    .header-main-section h5{
        top: 9.5rem;
    }

    .bg-main-section{
        margin-top: calc(1.5rem + 3rem);
        height: 27rem;
    }

    .card-container{
        gap: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .card{
        width: calc(50% - 1rem);
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .foot-logo, .foot-information{
        margin-bottom: 2rem;
    }

    .foot-information{
        justify-content: start;
        gap: 1rem;
        margin-bottom: 0;
    }

    .foot-information p{
        font-size: small;
    }

    .social-media, .social-logo{
        align-items: start;
        justify-content: start;
        gap: 0;
    }

    .social-logo{
        gap: 1.7rem;
    }

    #footer-line{
        display: block;
        margin: 0;
    }
}

@media only screen and (max-width:  586px){
    nav{
        justify-content: center;
    }

    .main-section article{
        flex-direction: column;
        padding-inline: 4.8rem;
        gap: 0;
        padding-top: 6rem;
        margin: 0;
        align-items: center;
    }

    .header-main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 3rem;
        gap: 0.5rem;
    }

    .header-main-section h1, h5{
        position: absolute;
        left: 5rem;
        top: 6rem;
        text-align: center;
    }

    .header-main-section h4{
        margin-top: 1rem;
        display: block;
        align-self: start;
    }

    .header-main-section h5{
        top: 9.5rem;
    }

    .header-main-section button{
        order: -7;
    }

    .bg-main-section{
        height: 28rem;
        left: 0;
    }

    .movie-preview h4{
        display: contents;
    }

    .card{
        width: calc(100% - 1rem);
    }

    .about-content-container{
        flex-direction: column;
        gap: 1rem;
    }

    .about-content-container figure, .author-info{
        width: 100%;
    }

    aside{
        padding: 0;
    }

    aside header{
        width: 100%;
    }

    .sidebar-content{
        flex-direction: column;
    }

    .foot-information{
        width: 310px;
        margin-bottom: 2rem;   
    }
}